.whole-wrapper{
	min-width: 1002px;
}
.header-top-overflow{
	background-color: #7dd9e8;
	width: 100%;
}
.header-top-container{
	position: relative;
	padding: 16px 0px 15px 0px;
}
.logo-wrapper{
	float: left;
	width: 223px;
	height:49px;
}
.search-wrapper{
	width: 336px;
	float: left;
	padding: 20px 24px 9px 24px;
}
.search-button{
	background: url(../images/search-button.png) no-repeat;
	width: 53px; 
	margin-left: 4px;
	float: left;
}
.user-nav-info{
	float: right;
	width: 200px;	
	padding: 8px 0px;
	font-weight: bold;
}
.user-name{
	float: right;
	display: table;
	font-size: 15px;
	line-height: 20px;
	margin: 0px 0px 3px 0px;
}
.user-nav{
	float: right;
	font-size: 13px;
	line-height: 15px;
	margin-right: -4px;
}
.header-bottom-overflow{
	background-color: #f5f5f5;
}
.header-bottom-container{
	padding: 12px 0px;
}
.user-options{
	float: left;
	font-size: 13px;
	line-height: 15px;
	margin-left: -8px;
}
.user-notification{
	float: right;
	font-size: 11px;
}
.body-wrapper{
	padding: 30px 0px 31px 0px;
}
.col3-left{
	width: 938px;
	margin: 0px auto;
	background-image: url("../images/body-background-repeat.png");
	background-repeat: repeat-y;
}
.left-container{
	width: 20.68230277185501%;
	float: left;
}
.recent-first-list{
	padding: 3px 0px;
}

.right-container{
	width: 76.65245202558635%;
	float:right;
}
.main{
	width: 518px;
	float: left;
	padding: 0px 0px;
}
.col3-inner-right{
	width: 176px;
	float: right;
}
.tab-wrapper{
	background-image: url("../images/main-back-image.png");
	background-repeat: no-repeat;
	width: 100%;
}
.tabs-heading{
	font-size:14px;
	text-align: center;
	padding: 10px 0px;
}
.tabs{
	width: 248px;
	padding:  2px 5px 0px 5px;
	background-color: #f5f5f5;
}
.all-entries-wrapper{
	float: left;
}
.subscribed-wrapper{
	float: right;
}
.all-entry-tabs{
	float: left;
}
.subscribed-tabs{
	float: right;
}
.tab-options-content{
	border-top: 2px solid #7dd9e8;
}
.user-news{
	padding: 15px 0px;
	border-bottom:1px solid #d8d8d8;
	position: relative;
}
.user{
	float: left;
}
.post-info{
	width: 428px;
	float: left;
	padding: 0px 10px;
}
.frame{
	width: 70px;
	position: absolute;
}
.user-image{
	width: 70px;
}
.footer-wrapper{
	width: 100%;
	background-color: #727272;
}

.footer-nav{
	float: left;
	color: #fff;
	padding: 19px 2px;
}
.footer-nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
}
.footer-nav ul li{
	width: auto;
	font-weight: bold;
	float: left;
	padding: 0px 7px;
}
.footer-nav ul li a{
	color: #fff;
}
.footer-nav ul li::before{
	content: "\2022";
	padding: 0px 6px;
}
.footer-nav ul li:first-child::before{
	content: "";
	padding: 0px;
}
.copyright{
	color: #fff;
	float: right;
	padding: 19px 2px;
	font-size: 11px;
}

