.search-input{
	background: url(../images/search-bar.png) no-repeat; 
	width: 276px;
	float: left;
}
.search-input input{
	width: 239px; 
	background-color: transparent; 
	border: 0 solid; 
	padding: 3px 8px;
	font-size: 11px;
}
.search-input input:focus{
	outline: none;
}
.search-button a{
	font-size: 9px;
	color: #fff;
	padding: 3px 5px 5px 8px;
	display: block;
}
.user-nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.user-nav ul li{
	width: auto;
	float: left;
	padding: 0px 5px;
}
.user-nav ul li+li{
	background: url(../images/pipe-sign.png) 0 50%;
	background-repeat:no-repeat;
}
.usernav ul:last-child{
	padding: 0px 0px 0px 5px;
}
.user-options ul{
	list-style: none;
	margin:0;
	padding: 0px;
}
.user-options ul li{
	float: left;
	margin: auto;
	padding: 0px 15px;
}
.user-notification ul{
	list-style: none;
	margin: 0px;
}
.user-notification ul li{
	float: left;
	width: auto;
	color: #aaa;
}
.user-notification ul li:active{
	color:#000;
}
.user-notification ul li:first-child{
	background-image: url("../images/topic-box-image.png");
	background-repeat: no-repeat;
	padding-left: 18px;
	margin-right: 31px;
}
.user-notification ul li:last-child{
	background-image: url("../images/friend-request-image.png");
	background-repeat: no-repeat;
	padding-left: 25px;
}
.user-notification ul li.enabled{
	color:#000;
}
.box-list ul{
	list-style: none;
	font-size: 11px;
}
.box-list ul li{
	width: 189px;
	padding: 0px 2.5px;
	display: table;
	content: "";
}
.box-list ul li:hover{
	background-color: #fff;
}
.box-list ul li a:first-child{
	float: left;
	width: 137px;
	padding: 10px 8.5px;
}
.box-list ul li a:last-child img{
	float: right;
	padding: 10px;
}
.main-heading{
	font-size: 26px;
	/*background-color: red;*/
	line-height: 0px;
	margin-bottom: 12px;
	padding:10px 0px 9px 0px;
}
.tabs ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.tabs ul li{
	width: 110px;
	float: left;
	margin: 0px 5px;
	padding: 0px 2px;
	background-image: url("../images/inactive-body-tab.png");
	background-repeat: no-repeat;
	font-size: 11px;
}
.tabs ul .active{
	background-image: url("../images/active-body-tab.png");
	background-repeat: no-repeat;
	font-size: 11px;
}
.tabs ul li a{
	display: block;
	text-align: center;
}
.tabs ul .active a{
	color: #fff;
	display: block;
}
.tabs ul li a{
	line-height: 28px;
}
.tabs ul li:hover{
	background-image: url("../images/active-body-tab.png");
	background-repeat: no-repeat;
	color: #fff;
	font-size: 11px;
}
.tabs ul li:hover a{
	color: #fff;
}
.post-info h2{
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
}
.post-info ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: table;
	font-size: 13px;
	line-height: 20px;
}
.post-info ul li{
	float: left;
	padding: 0px 5px;
}
.post-info ul li:first-child{
	padding: 0px 5px 0px 0px;
}

.post-info ul li+li{
	background: url(../images/pipe-sign.png) 0 50%;
	background-repeat:no-repeat;
}

.post-info ul li a{
	color:#309db2;
}
.post-info ul li:last-child{
	padding: 0px 0px 0px 5px;
}
.post-info ul li:last-child a{
	color: #8fb057;
}
.post-info p{
	font-size: 13px;
	line-height: 20px;
}
.post-info p span{
	color: #309db2;
}
.entry{
	font-size: 11px;
	line-height: 11px;
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	color:#309db2;
}
.comment{
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	color:#309db2;
}
.hot-invite{
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	color:#d43e1b;
}
.list-video-tutorial ul li{
	width: 152px;
	padding: 0px 12px;
}
