.navbar ul {
  padding: 0px 6px;
  display: table;
  content: "";
  font-weight: 600;
  color: #fff;
}

.navbar ul li {
  padding: 0px 27px;
}

.navbar ul li:hover {
  background: url(../images/active.png) no-repeat;
  width: 66px;
  text-align: center;
  margin: 0px 2px;
}

.navbar ul li:last-of-type {
  font-weight: 500;
}

.navbar ul li a {
  display: block;
  color: #fff;
}

.navbar ul li.active {
  background: url(../images/active.png) no-repeat;
  text-align: center;
  padding: 0px 15px;
  width: 90px;
}

.navbar ul li.active a {
  float: right;
}

.navbar ul li a i {
  line-height: 33px;
}

.navbar ul li span {
  display: none;
  float: left;
}

.navbar ul li.active span {
  display: inline;
}

.navbar ul li ul {
  display: none;
  background-color: #62a29e;
  z-index: 1;
  position: absolute;
  right: 380px;
  top: 33px;
}

.navbar ul li ul li {
  float: none;
}

.navbar ul li:hover ul {
  display: block;
}

.navbar ul li:last-of-type {
  background-image: none;
  margin: 0px;
  width: auto;
}

.navbar ul li:hover .search-box {
  display: block;
}

.navbar ul li ul li .search-box {
  /*display: block;*/
  background-color: #62a29e;
  position: absolute;
  z-index: 1;
  left: 250px;
  padding: 10px;
  border-radius: 5px;
}

.navbar ul li ul li .search-box input {
  width: 150px;
  border-radius: 5px;
}

.mini-navbar ul {
  display: none;
}

.mini-navbar ul li {
  padding: 5px 2.307692307692308%;
}

.mini-navbar ul li a {
  color: #fff;
}

.mini-navbar ul li.active {
  background-color: #62a29e;
  border-radius: 5px;
}

.mini-navbar-button a {
  display: block;
  line-height: 40px;
}

.mini-navbar-button a i {
  display: block;
  line-height: 30px;
  text-align: center;
  color: #f3f3f3;
}

.header-bottom-overflow {
  background-color: #ececec;
  position: relative;
}

.present-page {
  font-size: 20px;
  float: left;
  padding: 0px 10px;
  line-height: 1.2;
  color: #7f8c8c;
}

.site-map ul {
  font-size: 12px;
  line-height: 1.2;
  padding: 0px 3px;
  display: table;
}

.site-map ul li {
  padding: 0px 9px;
}

.site-map ul li:last-of-type {
  padding: 0px 0px 0px 9px;
}

.site-map ul li+li {
  background: url(../images/back-slash.png) no-repeat 0% 80%;
}

.site-map ul li a:hover {
  color: red;
}

.slider-content ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.slider-content ul li {
  display: none;
}

.slider-content ul li.selected {
  display: block;
}

.slider-content ul li h2 {
  float: left;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  padding: 0px 10px;
}

.slider-button {
  width: 40px;
  height: 40px;
  background-image: url(../images/slider-inactive.png);
  background-repeat: no-repeat;
}

.slider-button:hover {
  background-image: url(../images/slider-active.png);
  background-repeat: no-repeat;
}

.slider-button a {
  line-height: 40px;
  color: #fff;
  display: block;
  text-align: center;
}

.slider-left {
  float: left;
}

.slider-right {
  float: right;
}

.banner-slider ul {
  list-style: none;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

.banner-slider ul li {
	float: left;
  border-radius: 5px;
  max-width: 100%;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(229, 230, 230, 1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(229, 230, 230, 1);
  box-shadow: 0px 0px 3px 0px rgba(229, 230, 230, 1);
}

.banner-slider ul li.selected {
  display: block;
}

.banner-slider ul li img {
  border-radius: 5px;
}

.banner-slider-button {
  width: 50px;
  height: 60px;
  background-image: url(../images/banner-button.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

.banner-right {
  top: 45%;
  right: 0px;
}

.banner-left {
  top: 45%;
  left: 0px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.banner-slider-button a {
  display: block;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.selection {
  margin: 0px auto;
  display: table;
  padding: 31px 0px 28px 0px;
}

.selection ul li {
  width: 60px;
  height: 5px;
  margin: 0px 5px;
  background-color: #b0b8b9;
}

.selection ul li.selected {
  background-color: #e2534b;
}

.selection ul li a {
  display: block;
  /*text-indent: -10000px;*/
}

.selection ul li:hover {
  background-color: #e2534b;
}

.project-description h3,
.relatede-project h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
}

.project-description p {
  font-size: 14px;
  text-align: left;
  line-height: 1.6;
}

.project-description p:first-of-type {
  padding: 13px 0px;
}

.project-description p:last-of-type {
  padding: 0px 0px 27px 0px;
}

.project-details table tr {
  line-height: 43px;
  font-size: 13px;
  text-align: left;
}

.project-details table tr td {
  line-height: 2;
  padding: 7px 0px;
  border-bottom: 1px solid #e1e2e2;
}

.project-details table tr td:first-of-type {
  width: 28px;
  padding: 7px 2px;
  font-size: 16px;
  text-align: left;
  line-height: 0.12;
}

.project-details table tr td:last-of-type {
  line-height: 1.6;
  text-align: right;
}

.project-details table tr td ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.project-details table tr td a {
  color: #e2534b;
}

.related-project-slider h3 {
  float: left;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  background-color: #f3f3f3;
  text-align: left;
  padding: 0px 13px 0px 4px;
}

.bullet {
  width: 7px;
  float: left;
  background: url(../images/bullet.png) no-repeat;
  background-position: center;
  line-height: 40px;
}

.box-set ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.project-box {
	display: none;
}

.project-box:first-of-type {
  padding: 0px 1.282051282051282% 0px 0px;
}

.project-box:nth-child(4) {
  padding: 0px 0px 0px 1.282051282051282%;
}

.project-box:nth-child(5) {
 padding: 0px 1.282051282051282% 0px 0px;
}

.project-box:last-of-type {
  padding: 0px 0px 0px 1.282051282051282%;
}

.project-box:hover {
  width: 23.07692307692308%;
  background-image: url(../images/project-hover.png);
  background-repeat: no-repeat;
  background-position: center;
}

.project-box:hover img {
  visibility: hidden;
}

.project-box:hover .hover-logo {
  display: block;
}

.project-box:hover p {
  display: block;
}

.project-box p {
  display: none;
  position: absolute;
  top: 70.37037037037037%;
  width: 270px;
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 600;
  color: #fff;
}

.project-box img {
  border-radius: 5px;
}

.hover-logo {
  width: 90px;
  position: absolute;
  top: 39.53142567003953%;
  left: 35.5%;
  display: none;
}

.hover-button {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.102);
  color: #fff;
  display: block;
  border-radius: 5px;
  text-align: center;
}

.hover-button i {
  line-height: 40px;
}

.hover-button:hover {
  background-color: #e2534b;
  opacity: 1;
}

.button-left {
  float: left;
}

.button-right {
  float: right;
}

.contact p {
  font-size: 13px;
  line-height: 1.8;
  text-align: left;
  padding: 6.111111111111111% 0px;
}

.contact-info dt {
  width: 18.33333333333333%;
  float: left;
  font-size: 13px;
  line-height: 36px;
  display: block;
}

.contact-info dd {
  width: 80.55555555555556%;
  float: right;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  line-height: 1.8;
}

.blog-post-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.blog-post:first-of-type {
  padding: 25px 0px 10px 0px;
}

.blog-image {
  width: 70px;
  float: left;
}

.blog-status {
  width: 73.52941176470588%;
  float: right;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}

.blog-status span {
  color: #7f8c8c;
}

.footer-nav ul {
  list-style: none;
  margin: 0px;
  padding: 25.86206896551724% 12.93103448275862% 7.352941176470588% 12.93103448275862%;
}

.footer-nav ul li {
  font-size: 13px;
  line-height: 1.8;
}

.footer-nav p {
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  font-weight: 700;
  color: #7f8c8c;
}

.footer-nav ul li:before {
  content: ">";
  padding: 0px 10px;
}

.footer-nav ul li a {
  color: #fff;
}

.social-icon-group ul li {
  padding: 0px 15px;
}

.social-icon-group ul li:last-child {
  padding: 0px 0px 0px 15px;
}

.social-icon-group ul li a {
  color: #fff;
}

.copyright {
  font-size: 12px;
  line-height: 51px;
}

@media screen and (max-width: 1350px) {
  .container {
    padding: 0em 5em;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 0em 2.5em;
  }
  .navbar {
    display: none;
  }
  .mini-navbar-button:hover+ul {
    display: block;
  }
  .mini-navbar-button:hover {
    width: 40px;
    height: 40px;
  }
  .mini-navbar-button {
    display: block;
  }
}

@media screen and (max-width: 768px) {

  .mini-navbar ul li {
    padding: 0.5% 1.6%;
    font-size: 0.84843em;
  }

  .slider-button-combo {
    width: 15%;
  }
  .project-description {
    width: 100%;
    float: none;
  }
  .project-details {
    width: 100%;
    margin: 0px auto;
    float: none;
  }
  .project-box:hover {
    background-image: none;
  }
  .project-box:hover img {
    visibility: visible;
  }
  .project-box:hover .hover-logo {
    display: none;
  }
  .project-box:hover p {
    display: none;
  }
  .contact {
    width: 60%;
    margin-bottom: 25px;
  }
  .company {
    width: 32%;
  }
  .community {
    width: 32%;
    float: right;
  }
  .footer-nav ul {
    padding: 10px 12.93103448275862% 7.352941176470588% 12.93103448275862%;
  }
  .from-blog {
    width: 55%;
    padding: 0px 5px;
  }
  .blog-post-list {
    width: 100%;
  }
  .footer-holder {
    padding: 48px 0px 20px 0px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0em 1em;
  }
  .mini-navbar ul li {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
  }
  .mini-navbar ul li.active {
    background: url(../images/active.png) no-repeat;
    background-position: center;
  }
  .present-page {
    width: 90%;
    margin-bottom: 10px;
  }
  .site-map {
    width: 100%;
  }
  .slider-button-combo {
    width: 100%;
  }
  .slider-content ul li {
    text-align: center;
  }
  .banner-slider-button {
    background-image: none;
    top: 30%;
  }
  .banner-slider-button a {
    color: #7f8c8c;
  }
  .selection ul li {
    width: 10px;
  }
  .project {
    padding: 20px 3px;
  }
  .related-project {
    padding: 10px 0px;
  }
  .related-project-slider {
    background-image: none;
  }
  .bullet {
    display: none;
  }
  .related-project-slider h3 {
    float: none;
    text-align: center;
  }
  .box-set {
    padding: 5px 0px;
  }
  .project-box {
    width: 48%;
    padding: 10px 2px;
  }
  .project-box:hover {
    width: 48%;
  }
  .project-box:first-of-type {
    padding: 10px 2px;
  }
  .project-box:nth-child(4){
    padding: 10px 2px;
  }
  .project-box:last-of-type {
    padding: 10px 2px;
  }
  .contact {
    width: 100%;
  }
  .company {
    width: 45%;
    margin: 15px 1px;
    float: right;
  }
  .community {
    width: 45%;
    margin: 15px 1px;
    float: left
  }
  .from-blog {
    width: 100%;
    padding: 0px 5px;
  }
  .blog-post-list {
    width: 100%;
  }
  .blog-post {
    padding: 25px 5px 10px 5px;
  }
  .blog-post:first-of-type {
    padding: 25px 5px 10px 5px;
  }
  .blog-status {
    font-size: 12px;
  }
}